.resumeContainer {
    width: 35rem;
    height: 100%;
    border: 1px solid #ccc;
}

.previewContent {
    width: 100%;
    height: 100%;
}

.heading {
    background-color: #070707da;
    height: 6rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}