.stepperContent {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formContainer {
    width: 100%;
    max-width: 35rem;
}

.previewContainer {
    width: 100%;
    max-width: 35rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
}

.error {
    color: rgba(255, 0, 0, 0.808);
    font-size: 0.8rem !important;
}

.formandpreviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 960px) {
    .formandpreviewContainer {
        flex-direction: column;
        align-items: center;
    }
}