.stepperContent {
    margin-top: 20px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* background-color: #0202020e; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid #ccccccb6; */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.541);
    background-color: #010b0c0c;
}

.error {
    color: rgba(255, 0, 0, 0.808);
    font-size: 0.8rem !important;
}

.formandpreviewContainer {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    width: 80%;
    height: 75vh;
}